#btn {
    padding:15px 25px ;
    background:#c98e1a;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;   
    margin-top: 20px;
}
#btn:hover {
    border: 2px solid transparent;
    border-radius: 1px;
}